Click==8.0.3
htmlmin==0.1.12
jsmin==3.0.1
Jinja2==3.0.3
livereload==2.6.3
Markdown==3.3.6
MarkupSafe==2.0.1
mkdocs==1.2.3
mkdocs-minify-plugin==0.5.0
mkdocs-material==8.2.7
pep562==1.1
Pygments==2.11.2
six==1.16.0
tornado==6.1
