Click==7.1.2
htmlmin==0.1.12
Jinja2==2.11.2
jsmin==2.2.2
livereload==2.6.2
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs-material==5.5.5
mkdocs==1.1.2
mkdocs-minify-plugin==0.3.0
pep562==1.0
Pygments==2.6.1
PyYAML==5.3.1
pymdown-extensions==8.0
six==1.15.0
tornado==6.0.4
